* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
}

/*** Header ***/
header a {
    color: #FFF;
}
.header {
    font-family: 'Montserrat', 'Arial', sans-serif;
    height: 90px;
    background-color: #256C95;
}
.container {
    padding: 10px 0px 10px 0px;
    height: 90px;
    max-width: 1200px!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-header {
    width: 160px;
    height: auto;
}
ul, li {
    list-style: none;
    display: flex;
}
li a {
    text-decoration: none;
}
.li-header a {
    font-size: 18px;
    color: #38A3E0;
    font-weight: 500;
    margin: 0px 20px 0px 20px;
}
.menu nav li a::after {
	content: '';
	display: block;
	background-color: white;
	height: 2px;
	width: 0;
    transition: .3s;
}
.menu nav li a:hover::after, .menu nav li a.active::after {
	width: 100%;
}
.btn-menu-mobile {
    display: block;
    height: 36px;
    width: 36px;
    color: white;
    margin: 20px 20px 0 0;
    border-top: 4px solid;
    float: right;
    position: relative;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    display: none;
}
.btn-menu-mobile::after, .btn-menu-mobile::before {
    content: '';
    display: block;
    height: 4px;
    margin-top: 6px;
    background: currentColor!important;
    position: relative;
    transition: transform .2s ease;
}
.btn-menu-mobile.active {
    border-top-color: transparent;
}
.btn-menu-mobile.active::after {
    margin-top:0px;
    top: 2px;
    transform: rotate(45deg);
}
.btn-menu-mobile.active::before {
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg);
}
/*** Responsivo***/

@media only screen and (max-width: 870px) {
    .li-header a {
        font-size: 17px;
    }
    .btn-menu-mobile {
        display: block!important;
    }
    .ul-header {
    	display: none;
    	position: absolute;
    	margin-top: 73.7px;
    	width: 25.3%;
    	overflow: hidden;
    	height: auto;
    	background-color: #256C95;
    }
    .ul-header {
		left: 0px;
		width: 100%;
	}
    .li-header {
    	padding: 15px;
    	font-size: 18px;
    	width: 100%;
    	border-top: 1px solid #FFF;
    }
}

@media only screen and (max-width: 550px) {
	.ul-header {
		left: 0px;
		width: 100%;
	}
	.logo-header {
		width: 160px;
		height: 160px;
	}
}
