* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
}

/*** Header ***/
header a {
    color: #FFF;
}
.header {
    font-family: 'Montserrat', 'Arial', sans-serif;
    height: 90px;
    background-color: #256C95;
}
.container {
    padding: 10px 0px 10px 0px;
    height: 90px;
    max-width: 1200px!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-header {
    width: 160px;
    height: auto;
}
ul, li {
    list-style: none;
    display: flex;
}
li a {
    text-decoration: none;
}
.li-header a {
    font-size: 18px;
    color: #38A3E0;
    font-weight: 500;
    margin: 0px 20px 0px 20px;
}
.menu nav li a::after {
	content: '';
	display: block;
	background-color: white;
	height: 2px;
	width: 0;
    transition: .3s;
}
.menu nav li a:hover::after, .menu nav li a.active::after {
	width: 100%;
}
.mobile-btn {
    float: right;
    display: none;
}
.btn-line {
    border: 1px solid #103246;
    margin-top: 10px;
    width: 50px;
}

/*** Responsivo***/

@media only screen and (max-width: 870px) {
    .mobile-btn {
        display: flex;
        flex-direction: column;
    }
    .li-header a {
        font-size: 17px;
    }
}
 

